.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid grey;
    border-radius: 10px;
    width: 200px;
    height: 250px;
    
}

.btn{
    background-color: red;
    border-radius: 8px;
    margin: 7px;
    width: 25px;
    align-self: flex-end;
}

.btnColor{
    color: white;
}

.btn:hover{
    background-color: white;
    color: red;
}

.middleDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

